.btn-modal {
  margin: auto;
  width: 200px;
  height: 25px;
  color: white;
  background-color: rgb(44, 189, 237);
  font-size: 16px;
  border: 0px;
  margin-bottom: 10px;
}

.topic {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}